<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property scope="context" name="max-file-size" value="500MB" />
    <property scope="context" name="max-history" value="20" />
    <property scope="context" name="total-size-cap" value="5GB" />
    <property scope="context" name="log-directory" value="/logs/spring-creed-webflux" />
    <property scope="context" name="instance" value="webflux" />

    <property scope="context" name="log-pattern" value="%d{dd-MM-yyyy HH:mm:ss} ${LOG_LEVEL_PATTERN:-%5p} [%15.15t] %-40.40logger{39}[%line] : %m%n" />
    <property scope="context" name="special-pattern" value="%d{dd-MM-yyyy HH:mm:ss} ${LOG_LEVEL_PATTERN:-%5p} [%15.15t] %-40.40logger{39}[%line] : %m%n" />
    <property scope="context" name="console-pattern" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}) %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%15.15t]) %clr(%-40.40logger{39}){cyan}[%line] %clr(:) %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}" />

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${console-pattern}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log-directory}/${instance}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log-directory}/${instance}.log-%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!-- each file should be at most 250MB, keep 60 days worth of history,
                but at most 20GB -->
            <maxFileSize>${max-file-size}</maxFileSize>
            <maxHistory>${max-history}</maxHistory>
            <totalSizeCap>${total-size-cap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log-pattern} </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="special-rolling" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log-directory}/special.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log-directory}/special.log-%d{yyyy-MM-dd}.%i</fileNamePattern>
            <!-- each file should be at most 250MB, keep 60 days worth of history,
                but at most 20GB -->
            <maxFileSize>${max-file-size}</maxFileSize>
            <maxHistory>${max-history}</maxHistory>
            <totalSizeCap>${total-size-cap}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${special-pattern} </pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name ="async" class= "ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>500</queueSize>
        <appender-ref ref ="rolling"/>
    </appender>

<!-- additivity:是否添加日志到主日志中 -->
    <logger name="special-logger" level="INFO" additivity="false">
        <appender-ref ref="special-rolling" />
    </logger>

    <!--<springProfile name="dev">
        <root>
            <level value="INFO" />
            <appender-ref ref="consoleAppender" />
            <appender-ref ref="rolling" />
        </root>
    </springProfile>
    <springProfile name="!dev">
        <root>
            <level value="INFO" />
            <appender-ref ref="rolling" />
        </root>
    </springProfile>-->
    <root>
        <level value="INFO" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="rolling" />
    </root>
</configuration>