<!--/* @thymesVar id="items" type="java.util.List<com.ethan.identity.core.segment.dal.entity.SystemLeafAlloc>"*/-->
<!--/* @thymesVar id="item" type="com.ethan.identity.core.segment.dal.entity.SystemLeafAlloc" */-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Leaf</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<h1 th:text="|Load Page Error: ${errorMessage}|"></h1>
</body>
</html>