<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="main">
        <div>
            <table class="table table-borderless border-1" style="table-layout: fixed" th:object="${company}">
                <tr>
                    <td class="font-14-bold" colspan="2">
                        Company Details
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="font-12-text">Name</p>
                        <p class="font-12" th:text="*{companyName}"></p>
                    </td>
                    <td>
                        <p class="font-12-text">Mobile Number</p>
                        <p class="font-12" th:text="|+*{mobileCountryCode}-*{mobileNo}|">+65 -- 802121</p>

                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <p class="font-12-text">Address</p>
                        <p class="font-12" th:text="*{address}"></p>
                    </td>

                </tr>
            </table>
        </div>

        <div style="page-break-after: always">
            <table class = "table table-borderless border-1" style="table-layout: fixed">
                <tr>
                    <td class="font-14-bold" colspan="2">
                        Employee Details
                    </td>
                </tr>
                <th:block th:each="emp, empStat : ${company?.employees}">
                    <tr>
                        <td colspan="2">
                            <p class="font-12-text" th:text="|No.${empStat?.count}|"></p>
                            <div class="font-12 my-roman3">
                                <ol>
                                    <li>
                                        <div th:replace="~{fragments/img_fragment :: icon(true)}"></div>
                                        <span class="pl-2">Name</span>
                                        <p class="pl-2" th:text="|${emp?.firstName} - ${emp?.lastName}|"></p>
                                    </li>
                                    <li>
                                        <div th:replace="~{fragments/img_fragment :: icon(false)}"></div>
                                        <span class="pl-2">Mobile</span>
                                        <p class="font-12" th:text="|+*{emp?.mobileCountryCode}-*{emp?.mobileNo}|"></p>
                                    </li>
                                    <li>
                                        <div th:replace="~{fragments/img_fragment :: icon(true)}"></div>
                                        <span class="pl-2">Email</span>
                                        <p class="font-12" th:text="${emp?.email}"></p>
                                    </li>

                                </ol>
                            </div>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</html>